<launch>
  <node name="odom_localizer" pkg="robot_localization" type="ukf_localization_node"
        clear_params="true">
    <rosparam command="load" file="$(find rover12_launch)/params/odom_localizer.yaml"/>
  </node>

  <node name="navsat_transform" pkg="robot_localization" type="navsat_transform_node">
    <rosparam command="load" file="$(find rover12_launch)/params/navsat_transform.yaml"/>
    <remap from="/imu/data" to="/sensors/imu"/>
    <remap from="/gps/fix" to="/sensors/gps"/>
  </node>

  <node name="map_localizer" pkg="robot_localization" type="ukf_localization_node"
        clear_params="true">
    <rosparam command="load" file="$(find rover12_launch)/params/map_localizer.yaml"/>
  </node>
</launch>
